

/* 2순위:  HTML 참고*/


/* 3순위 : 아이디 선택자 */
#test1{
  /* 낮은 우선순위 덮어 씌움 */
  height: 100px;
  
  color: red;
  background-color: bisque;
  /* 새로 추가된 속성(누적) */
  font-family: '궁서';
  font-weight: bold;
}


/* 4순위: 클래스 선택자 */
.cls1{
  /* 태그명 보다 우선순위 높음 */
  background-color: green;
  /* 똑같은 속성에 대해 값을 적용한적이 없어서 그대로 적용(누적) */
  color: aliceblue;
}



/*5순위 : 태그 선택자*/
div{
    width: 200px;
    height: 200px;
    background-color:  yellow;
}

div{
/* 같은 선택자 여러번 작성 가능 */
border : 1px solid black;
}

div{
  /* 같은 우선순위의 경우 마지막 설정이 적용 */
  background-color: aqua;
}

#test1{
  /* !important 같은 우선순위
  -> 선택자 우선 순위를 따짐 */
  background-color: pink !important;
}

div{
  /* 1순위 : !important */
  /* 5->1 변경 */
  background-color: cyan !important;
}

div{
  /* !inportant로 같은 우선 순위
  -> 마지막에 작성된 설정이 적용  */
 background-color: steelblue !important;
}